extend layout

block title
  title= site.title

block meta
  meta(name='description', content=site.description)
  meta(property='og:title', content=site.title)
  meta(property='og:description', content=site.description)
  meta(property='og:url', content=site.site_url)
  meta(property='og:type', content='website')
  meta(property='og:image', content='https://github.com/andrepolischuk.png')
  meta(name='twitter:image', content='https://github.com/andrepolischuk.png')

block header
  h1= site.title
  p
    = site.description
    | . Find me on
    |
    a(href='https://github.com/andrepolischuk') GitHub
    | ,
    |
    a(href='https://twitter.com/andrepolischuk') Twitter
    |
    | or follow the
    |
    a(href='/rss.xml') RSS-feed
    | .

block content
  main
    each note in notes
      section
        h2
          a(href='/' + note.url)= note.title.text
        em
          time= note.date.text
        p!= note.desc.html

    footer
      p
        | Do you have any comments or questions about my site?
        br
        | Send them to me on
        |
        a(href='https://twitter.com/andrepolischuk') Twitter
        | .
