doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block title

    link(href=site.feed_url, title=site.title, rel='alternate', type='application/rss+xml')
    link(rel='stylesheet', href='/styles.css')
    link(rel='icon', ref='/favicon.png', sizes='32x32')

    meta(name='author', content=site.author)
    meta(property='og:site_name', content=site.title)
    meta(property='article:author', content=site.site_url)
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@andrepolischuk')

    block meta

  body
    header
      block header

    main
      block content
