extend layout

block title
  title= note.title.text

block meta
  meta(name='description', content=note.desc.text.replace(/\n/g, ' '))
  meta(property='og:title', content=note.title.text.replace(/\n/g, ' '))
  meta(property='og:description', content=note.desc.text.replace(/\n/g, ' '))
  meta(property='og:url', content=site.site_url + note.url)
  meta(property='og:type', content='article')
  if (note.image)
    meta(property='og:image', content=note.image.src)
    meta(name='twitter:image', content=note.image.src)
  else
    meta(property='og:image', content='https://github.com/andrepolischuk.png')
    meta(name='twitter:image', content='https://github.com/andrepolischuk.png')

block header
  a(href='/')= site.title

block content
  article
    header
      a(href='https://github.com/andrepolischuk/andrepolischuk.github.io/edit/premaster/notes/' + note.filename) Edit on github
      h1= note.title.text

    em
      time= note.date.text
    != note.content.html

    footer
      nav
        span
          if (prevNote)
            a(href='/' + prevNote.url)!= '←&nbsp;' + prevNote.title.text
          else
            a(href='/')!= '↑&nbsp;All notes'
        span
          if (nextNote)
            a(href='/' + nextNote.url)!= nextNote.title.text + '&nbsp;→'
          else
            a(href='/')!= 'All notes&nbsp;↑'
