extend layout

block title
  title= page.title.text

block meta
  link(rel='preload', href='//unpkg.com/prismjs@1.15.0/themes/prism.css', as='style')
  link(rel='preload', href='//unpkg.com/prismjs-material-theme@1.0.0/css/lighter.min.css', as='style')
  link(rel='preload', href='//unpkg.com/prismjs@1.15.0/prism.js', as='script')
  link(rel='stylesheet', href='//unpkg.com/prismjs@1.15.0/themes/prism.css')
  link(rel='stylesheet', href='//unpkg.com/prismjs-material-theme@1.0.0/css/lighter.min.css')

  meta(name='description', content=page.desc.text)
  meta(property='og:title', content=page.title.text)
  meta(property='og:description', content=page.desc.text)
  meta(property='og:url', content=site.site_url + page.url)
  meta(property='og:type', content='article')
  if (page.image)
    meta(property='og:image', content=page.image.src)
    meta(name='twitter:image', content=page.image.src)
  else
    meta(property='og:image', content='https://github.com/andrepolischuk.png')
    meta(name='twitter:image', content='https://github.com/andrepolischuk.png')

block header
  a(href='/')= site.title

block content
  article
    header
      h1= page.title.text
      if (page.date)
        p
          em
            time= page.date.text

    != page.content.html

    if (prevPage || nextPage)
      footer
        nav
          ul
            li
              if (prevPage)
                a(href='/' + prevPage.url)!= '←&nbsp;' + prevPage.title.text
              else
                a(href='/')!= '↑&nbsp;All&nbsp;stories'
            li
              if (nextPage)
                a(href='/' + nextPage.url)!= nextPage.title.text + '&nbsp;→'
              else
                a(href='/')!= 'All&nbsp;stories&nbsp;↑'

    script(async='', src='//unpkg.com/prismjs@1.15.0/prism.js')
