extend layout

block title
  title= page.title.text + ' – ' + site.author

block meta
  meta(name='description', content=page.desc.text)
  meta(property='og:title', content=page.title.text + ' – ' + site.author)
  meta(property='og:description', content=page.desc.text)
  meta(property='og:url', content=site.site_url + page.url)
  meta(property='og:type', content='article')
  if (page.image)
    meta(property='og:image', content=page.image.src)
    meta(name='twitter:image', content=page.image.src)
  else
    meta(property='og:image', content='https://github.com/andrepolischuk.png')
    meta(name='twitter:image', content='https://github.com/andrepolischuk.png')

block content
  article
    header
      h1= page.title.text
      if (page.date)
        p
          time(datetime=page.date.moment)= page.date.text

    != page.content.html

    footer
      nav
        ul
          li
            a(href='/')!= '↑&nbsp;All&nbsp;stories'
